.coaches-card-text{
    text-align: center;
    width: 345px;
    font-size: 28px;
}

.coaches-card-image {
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.coaches-card-image img{
    width: 345px;
    height: 450px;
    border-radius: 20px;
    object-fit: cover;
}

.coaches-card-image:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.coaches-card-image:active {
    transform: scale(0.98);
}