.price-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}


.card-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.price-card {
  background-color: #2F2F2F;
  color: white;
  border: 3px solid #5C5252;
  border-radius: 20px;
  padding: 40px 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  width: 452px;
}

.price-card-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 33px;
  font-weight: bold;
  text-transform: uppercase;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.price-btn {
  flex: 1;
  padding: 20px;
  font-size: 24px;
  border: none;
  border-radius: 8px;
  background-color: #BD9743;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 100px;
}

.price-btn:hover {
  background-color: #a88530;
}

.price-btn.active {
  background-color: #775d21;
}

.price-list {
  margin-top: 20px;
  margin-bottom: 40px;
}

.price-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
}

.price-item:last-child {
  border-bottom: none;
}

.price-label {
  font-size: 32px;
}

.price-value {
  font-size: 28px;
  font-weight: 500;
}

/* 1024px - сохраняем строку */
@media (max-width: 1024px) {
  .card-container {
    flex-wrap: wrap;
    gap: 25px;
  }
  
  .price-card {
    width: 430px;
    padding: 35px 18px;
  }
  
  .price-card-title {
    font-size: 32px;
  }
  
  .price-btn {
    padding: 18px;
    font-size: 22px;
    margin-bottom: 90px;
  }
  
  .price-label {
    font-size: 28px;
  }
  
  .price-value {
    font-size: 24px;
  }
}

/* 768px - переводим в колонку */
@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .price-card {
    width: 100%;
    max-width: 500px;
    padding: 30px 20px;
  }
  
  .price-card-title {
    font-size: 28px;
    margin-bottom: 25px;
  }
  
  .button-group {
    gap: 8px;
  }
  
  .price-btn {
    padding: 16px;
    font-size: 20px;
    margin-bottom: 70px;
  }
  
  .price-label {
    font-size: 24px;
  }
  
  .price-value {
    font-size: 20px;
  }
  
  .price-item {
    padding: 25px 10px;
  }
}

/* 425px - колонка с компактным дизайном */
@media (max-width: 425px) {
  .price-container {
    padding: 15px;
  }
  
  .main-title {
    font-size: 28px;
    margin-bottom: 30px;
  }
  
  .card-container {
    gap: 15px;
  }
  
  .price-card {
    max-width: 100%;
    padding: 25px 15px;
    border-radius: 15px;
  }
  
  .price-card-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .button-group {
    gap: 6px;
    margin-bottom: 20px;
  }
  
  .price-btn {
    padding: 14px;
    font-size: 18px;
    margin-bottom: 50px;
    width: 100%;
  }
  
  .price-list {
    margin-bottom: 30px;
  }
  
  .price-label {
    font-size: 20px;
  }
  
  .price-value {
    font-size: 18px;
  }
  
  .price-item {
    padding: 15px 8px;
  }
}