.advantage-container {
  padding: 40px 20px;
}

.advantages-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.advantage-card{
  max-width: 350px;
}
.row {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.row.center {
  margin-top: 20px;
}

@media (max-width: 480px) {
  .row {
    gap: 15px;
  }

  .row.center {
    margin-top: 10px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .advantage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 30px;
  }

  .advantages-grid {
    gap: 30px;
  }

  .row {
    flex-direction: column;
    gap: 25px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .advantage-container {
    padding: 50px 30px;
  }

  .advantages-grid {
    gap: 30px;
  }

  .row {
    flex-direction: row;
    gap: 25px;
  }
}

@media (min-width: 1025px) {
  .advantage-container {
    padding: 50px 30px;
  }

  .advantages-grid {
    gap: 20px;
  }

  .row {
    flex-direction: row;
    gap: 16px;
    flex-wrap: nowrap;
  }
}