.mapContainer {
    display: flex;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    min-height: 600px;
    background: #2f2f2f;
    position: relative;
    z-index: 1;
    
}

.poolsList {
    width: 50%;
    padding: 30px;
    overflow-y: auto;
    background: #2f2f2f;
}

.mapFrame {
    width: 50%;
    position: relative;
    background: #eee;
}

.mapIframe {
    width: 100%;
    height: 100%;
    min-height: 600px;
    border: none;
}

.cardHeader {
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 25px;
    background: #2f2f2f;
    border-bottom: 1px solid #e0e0e0;
}

.cardHeader h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.poolItem {
    margin-bottom: 20px;
    padding: 12px;
    background: #2f2f2f;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: all 0.3s ease;
    border-left: 4px solid transparent;
}

.poolItem:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.poolItemActive {
    border: 2px solid #A0A0A0;
    background: #2f2f2f;
}

.poolTitle {
    margin: 0 0 8px 0;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.poolAddress {
    color: #A0A0A0;
    font-size: 16px;
}

.phoneButton {
    display: block;
    width: 100%;
    color: #1e88e5;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    transition: background 0.3s, color 0.3s;
    border: 1px solid #1e88e5;
}

.phoneButton:hover {
    background: #1e88e5;
    color: white;
}

.mobileToggle {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    background: #1e88e5;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Медиа-запросы для мобильных устройств */
@media (max-width: 768px) {
    .mapContainer {
        flex-direction: column;
        border-radius: 0;
        min-height: 100vh;
        box-shadow: none;
        margin: 50px 20px;
        border-radius: 20px;
    }
    
    .poolsList, .mapFrame {
        width: 100%;
        height: 100%;
    }
    
    .hiddenOnMobile {
        display: none;
    }
    
    .mobileToggle {
        display: block;
    }
    
    .poolItem {
        padding: 15px;
    }
    
    .phoneButton {
        padding: 18px;
        font-size: 20px;
    }
}

/* Медиа-запросы для планшетов */
@media (min-width: 769px) and (max-width: 1024px) {
    
    .poolsList {
        width: 45%;
        padding: 20px;
    }
    
    .mapFrame {
        width: 55%;
    }
    
    .poolItem {
        padding: 10px;
    }
    
    .phoneButton {
        padding: 12px;
        font-size: 16px;
    }
}